<div class="my-5 col-12 col-sm-12">
    <div class="container-fluid">
        <div class="row pt-50 pt-0">
            <div class="col-12 col-sm-12">
                <h3 class="t-orange">{{ doc.job_title }}</h3>
            </div>
            <div class="col-12 col-md-4 box bounce-item">
                <img src="{{ frappe.db.get_value('Job Opening',doc.name,'image') }}" alt="job-opening-img"
                    class="img-fluid mt-5" width="440">
            </div>
            <div class="col-12 col-md-8 mt-5">
                <h5 class="text-medium"> Description</h5>
                <p class="text-justify">{{ doc.description }}</p>
                <h5 class="text-medium">Required Skills</h5>
                <p>{{frappe.db.get_value("Job Opening", doc.name,"job_opening_skill")}}</p>
                <div class="d-flex d-sm-block d-block">
                    <a class="noble-btn t-orange text-center mr-5"
                        href="{{ frappe.db.get_value('Job Opening',doc.name,'route') }}">
                        <span>Know More</span>
                    </a>
                    <a class="noble-btn t-orange text-center" href="/application-form?new=1&job_title={{ doc.name }}">
                        <span> {{ _("Apply Now") }} </span> </a>
                </div>
            </div>
        </div>
    </div>
</div>