<header class="nobleNav noDropdownTransition">
    <ul class="navRoot">
        <!-- logo -->
        <li class="navSection logo mt-2 ml-2">
            <div class="noble-logo">
                <a href="/">
                    <img data-pagespeed-no-defer src="/files/transparent_nobel_logo.png" id="noble_logo"
                        alt="Noble Enterprise" title="Noble Enterprise" style="transform: translate(0%, 0%);"
                        width="170"  />
                </a>
            </div>
        </li>
        <li class="navSection primary p-2">
            <a class="rootLink" href="/"> Home </a>
            <a class="rootLink" href="/about">
                About Us
            </a>
            <a class="rootLink hasDropdown" data-dropdown="product" href="#">
                Products
            </a>
            <a class="rootLink hasDropdown" data-dropdown="Packaging" href="#">
                Packaging
            </a>
            <!-- <a class="rootLink" data-dropdown="Careers" href="/jobs">
                Careers
            </a> -->
            <a class="rootLink" href="/contact_us">
                Contact Us
            </a>
        </li>
        <li class="navSection secondary p-2">
            {% if not hide_login %}
            <a href="/login" class="rootLink btn-login-area mt-1">{{ _("Login") }}</a> {% endif %}

            {% if frappe.session.user != 'Guest' %}
            <a href="#" class="rootLink hasDropdown" data-dropdown="noble-login" data-label="website-post-login">
                <span class="user-image-wrapper text-center"></span>
                <span class="full-name"></span>
                <b class="caret"></b>
            </a>
            {% endif %}
            <a href="#" class="d-none"></a>
        </li>
        <li class="navSection mobile">
            <div id="content">
                <div id="navsidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="nav-wrapper">
                <nav id="navsidebar" class="vh-100">
                    <!-- navsidebar Links -->
                    <div class="d-flex justify-content-center p-2">
                        <img src="/files/noble-logo.png" alt="logo" title="Logo" width="150" height="120" style="
                        width: 150px;">
                    </div>
                    <ul class="list-unstyled components">
                        <li class="p-3">
                            <a href="/">Home</a>
                        </li>
                        <li class="p-3">
                            <a href="/about">About Us</a>
                        </li>

                        <li class="p-3">
                            <a href="/product" data-ls="products" data-toggle="collapse" aria-expanded="false"
                                class="go-tosub-menu">
                                <img class="left-arrow nav-service-icon d-none" src="/files/left-arrow-nav.svg"
                                    alt="Left Arrow" title="Web App Development" height="15" width="15">
                                Products
                            </a>
                            <img data-ls="products" src="/files/right-arrow-nav.svg"
                                class="go-tosub-menu ml-5 float-right mt-2" alt="right-arrow" height="15" width="15">

                            <ul class="collapse list-unstyled ml-5" id='products'>
                                {% set items = frappe.get_all('Item Group', order_by="priority" , limit = 14 ,
                                fields=['is_group','image','website_image','route','parent_item_group','item_group_name','content_link'])
                                %}
                                {% for item in items %}
                                {% if item.parent_item_group == "Products" %}
                                <li class="p-3">
                                    <a href="/{{ item.content_link|replace(' ','')|lower}}" class="link-underline p-1">
                                        {{ item.item_group_name or item.name }}
                                    </a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>

                        </li>
                        <li class="p-3">
                            <a href="/product" data-ls="Packaging" data-toggle="collapse" aria-expanded="false"
                                class="go-tosub-menu">
                                <img class="left-arrow nav-service-icon d-none" src="/files/left-arrow-nav.svg"
                                    alt="Left Arrow" title="Web App Development" height="15" width="15">
                                Packaging
                            </a>
                            <img data-ls="Packaging" src="/files/right-arrow-nav.svg"
                                class="go-tosub-menu ml-5 float-right mt-2" alt="right-arrow" height="15" width="15">

                            <ul class="collapse list-unstyled ml-5" id='Packaging'>
                                {% set items = frappe.get_all('Item Group',
                                order_by="priority",fields=['is_group','image','website_image','route','parent_item_group','item_group_name'],
                                filters={'website_image': ('!=',''),'image':('!=','')} , limit = 14 ) %}
                                {% for item in items %}
                                {% if item.parent_item_group == "Products" %}
                                <li class="p-3">
                                    <a href="/{{ item.route }}" class="link-underline p-1">
                                        {{ item.item_group_name or item.name }}
                                    </a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        <!-- <li class="p-3">
                            <a href="/jobs">Careers</a>
                        </li> -->
                        <li class="p-3">
                            <a href="/contact_us">Contact Us</a>
                        </li>
                        {% if not hide_login %}
                        <li class="btn-login-area">
                            <a href="/login">{{ _("Login") }}</a>
                        </li>
                        {% endif %}
                        <li>
                            <a data-ls="loginsubmenu" class="go-tosub-menu" data-toggle="collapse"
                                aria-expanded="false">
                                <img class="left-arrow nav-service-icon d-none" src="/files/left-arrow-nav.svg"
                                    alt="Left Arrow" title="About Company">
                                <span class="user-image-wrapper"></span>
                                <span class="full-name"></span>
                                <b class="caret"></b>
                            </a>
                            <ul class="collapse list-unstyled ml-5" id='loginsubmenu'>
                                <li>
                                    <a class="linkContainer" href="/me" rel="nofollow">
                                        <img class="nav-service-icon" width="50" height="30" src="/files/account.svg" alt="My Account"
                                            title="My Account">
                                        <h6 class="link-underline mt-1">{{ _('My Account') }}
                                        </h6>
                                    </a>
                                </li>
                                <li>
                                    <a class="linkContainer item-about" href="/?cmd=web_logout" rel="nofollow">
                                        <img class="nav-service-icon" width="50" height="30" src="/files/logout.svg" alt="Logout"
                                            title="Logout">
                                        <h6 class="link-underline mt-1">{{ _('Logout') }}
                                        </h6>
                                    </a>
                                </li>
                                <li>
                                    <a class="linkContainer item-about" href="/desk" rel="nofollow">
                                        <img class="nav-service-icon" width="50" height="30" src="/files/swap.svg" alt="Switch To Desk"
                                            title="Switch To Desk">
                                        <h6 class="link-underline mt-1">{{ _('Switch To Desk') }}
                                        </h6>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </li>
    </ul>

    <div class="dropdownRoot">
        <div class="dropdownBackground">
            <div class="alternateBackground"></div>
        </div>
        <div class="dropdownArrow"></div>
        <div class="dropdownContainer">
            <!-- Product SUb menu -->
            <div class="dropdownSection left industryGroup" data-dropdown="Packaging">
                <!-- with button -->
                <div class="dropdownContent dropdownContent-product">
                    <!-- packagin list -->
                    <div class="background">
                        <div class="linkGroup ">
                            <div class="industry-group ">
                                <div class="industry-group-sub ">
                                    <div class="container">
                                        <div class="row">
                                            {% set items = frappe.get_all('Item Group',
                                            order_by="priority",fields=['is_group','image','website_image','route','parent_item_group','item_group_name'],
                                            filters={'website_image': ('!=',''),'image':('!=','')} , limit = 14 ) %}
                                            {% for item in items %}
                                            {% if item.parent_item_group == "Products" %}
                                            <!-- p1 -->
                                            <div class="col-3  inner dropdown mb-4">
                                                <a class="" href="/{{ item.route }}">
                                                    <h5 class="title d-flex justify-content-center" style="margin-bottom: 0px;">
                                                        {{ item.item_group_name or item.name }}
                                                    </h5>
                                                </a>
                                                <a class="side-image d-flex justify-content-center" href="/{{ item.route }}">
                                                    <img data-pagespeed-no-defer src="{{item.image or item.website_image or 'no-image.jpg'  }}"
                                                    width="150" height="130" alt="{{ item.item_group_name }}"
                                                    id="product-nav-image" />
                                                </a>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="linkGroup linkList prodsubGroup">
                        <li class="text-center ">
                            <a class="" href="/all-products">
                                <h6 class="title-underline-view mb-2 text-center">View All</h6>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="dropdownSection left industryGroup" data-dropdown="product">
                <!-- with button -->
                <div class="dropdownContent dropdownContent-product">
                    <!-- packagin list -->
                    <div class="background">
                        <div class="linkGroup ">
                            <div class="industry-group ">
                                <div class="industry-group-sub ">
                                    <div class="container">
                                        <div class="row">
                                            {% set items = frappe.get_all('Item Group', order_by="priority" , limit = 14 ,
                                            fields=['is_group','image','website_image','route','parent_item_group','item_group_name','content_link'])
                                            %}
                                            {% for item in items %}
                                            {% if item.parent_item_group == "Products" %}
                                            <div class="col-3  inner dropdown mb-4">
                                                <a class="" href="/{{ item.content_link|replace(' ','')|lower}}">
                                                    <h5 class="title d-flex justify-content-center" style="margin-bottom: 0px;">
                                                        {{ item.item_group_name or item.name }}
                                                    </h5>
                                                </a>
                                                <a class="side-image d-flex justify-content-center"
                                                    href="/{{ item.content_link|replace(' ','')|lower}}">
                                                    <img data-pagespeed-no-defer
                                                        src="{{ item.website_image or item.image or 'no-image.jpg'  }}"
                                                        width="150" height="130" alt="{{ item.item_group_name }}"
                                                        id="product-nav-product-image" />
                                                </a>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <!-- login submenu -->
            {% if frappe.session.user != 'Guest' %}
            <div class="dropdownSection left logged-in" data-dropdown="noble-login">
                <div class="dropdownContent">
                    <ul class="linkGroup linkList loginGroup">
                        <li class="ml-3">
                            <a class="linkContainer item-about" href="/me" rel="nofollow">
                                <img class="nav-service-icon" width="50" height="30" src="/files/account.svg" alt="My Account"
                                    title="My Account">
                                <h6 class="d-inline-block mt-1">{{ _('My Account') }}
                                </h6>
                            </a>
                        </li>
                        <li class="ml-3">
                            <a class="linkContainer item-about " href="/?cmd=web_logout" rel="nofollow">
                                <img class="nav-service-icon" width="50" height="30" src="/files/logout.svg" alt="Logout" title="Logout">
                                <h6 class="d-inline-block mt-1">{{ _('Logout') }}
                                </h6>
                            </a>
                        </li>
                        <li class="ml-3">
                            <a class="linkContainer item-about " href="/desk" rel="nofollow">
                                <img class="nav-service-icon" width="50" height="30" src="/files/swap.svg" alt="Switch To Desk"
                                    title="Switch To Desk">
                                <h6 class="d-inline-block mt-1">{{ _('Switch To Desk') }}
                                </h6>
                            </a>
                        </li>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    </div>
</header>