<footer class="footer-section gradient-bg"
  style="background: linear-gradient(145deg, #f4813f , rgba(246, 150, 77, 0)), #f1556a url(/files/circles-bg.png) right center/cover no-repeat scroll;">
  <div class="footer">
    <div class="main-footer section-gap white-text">
      <div class="container-fluid">
        <div class="row pt-50">
          <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="footer-box">
              <div class="about-footer">
                <a href="/">
                  <img src="/files/transparent_nobel_logo.png" alt="noble-logo" class="img-fluid" class="logo_width"
                    width="170" height="100">
                </a>
                <p></p>
                <br>
                <p class="t-white">Our dried fruits are sourced from high-quality growers and therefore are premium
                  in size, taste and flavor. We have a state-of-the-art cleaning and packaging facility to ensure
                  quality in all our processes.
                </p>
                <ul class="t-white" style="margin-top: 50px; padding: 0;">
                  <li>
                    <h2>Follow us</h2>
                  </li>
                  <li>
                    <div class="social-network">
                      <a href="#" class="float-shadow"><img src="/files/fb-icon.png" alt="facebook-icon" width="35"
                          height="35"></a>
                      <a href="#" class="float-shadow"><img src="/files/twitter-icon.png" alt="twitter-icon" width="35"
                          height="35"></a>
                      <a href="#" class="float-shadow"><img src="/files/instagram-icon.png" alt="instagram-icon"
                          width="35" height="35"></a>
                      <a href="#" class="float-shadow"><img src="/files/gp-icon.png" alt="google-plus-iocn" width="35"
                          height="35"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          {% include "templates/includes/footer/footer_items.html"%}

          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="footer-box">
              <h2 class="t-white">Our Brands</h2>
              <br>
              <div class="client-footer-section">
                <img class="grow" src="/files/hobby logo.png" alt="hobby logo" width="200">
                <img class="grow" src="/files/hare_krishna_logo.png" alt="harekrishna logo" width="200">
                <img class="grow" src="/files/Gopi Logo.png" alt=" gopi logo" width="200">
                <img class="grow" src="/files/Crown Logo.png" alt=" crown logo" width="200">
                <!-- {% set items = frappe.get_all('Item Group', fields=['is_group','image','route','parent_item_group','item_group_name']) %}
                {% for item in items %}
                {% if item.parent_item_group == "Products" %}
                <a href="/{{ item.route }}" >
                  <img class="grow" src="{{item.website_image or item.image or 'no-image.jpg'  }}"
                    alt="{{ item.item_group_name }}">
                </a>

                {% endif %}
                {% endfor %} -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-fotter">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <p class="p-small">Copyright &copy; {{ frappe.utils.getdate().year }} Noble Enterprise - All Rights
              Reserved.</p>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 d-flex justify-content-end">
            <p class="p-small">Developed & Designed by <a href="https://finbyz.tech/" target="_blank"
                rel="noreferrer">FinByz Tech Pvt. Ltd.</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>