
{% extends "templates/web.html" %}

{% set title = "About Us" %}
{% block header %}<h1>About Us</h1>{% endblock %}

{% block page_content %}
{{ doc.company_introduction }}
<!---------------------- Timeline -------------------------- -->


{{doc.above_content}}

<section class="section-timeline-main" id="section-timeline-main">
    <img src="/files/almonds.svg" alt="image1" class="animate-image" id="image-1">
    <img src="/files/Cashew.svg" alt="image1" class="animate-image" id="image-2">
    <img src="/files/walnut.svg" alt="image1" class="animate-image" id="image-3">
    <img src="/files/almonds.svg" alt="image1" class="animate-image" id="image-4">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title-underline ">Our <span class="t-orange">{{ doc.company_history_heading }}</span></h2>
                </div>
                <div class="main-timeline ">
                    {% for timeline_time in doc.get({"doctype":"Company History"}) %}

                    <div class="timeline">
                        <span class="timeline-year {{ loop.cycle('nobel-fadeinleft','nobel-fadeinright') }}">{{timeline_time.year}}</span>
                        <div class="timeline-content {{ loop.cycle('nobel-fadeinright','nobel-fadeinleft') }} ">

                            <div class="timeline-icon ">
                                <img src="{{ timeline_time.image }}" alt="company" class="img-fluid">
                            </div>

                            <div class="inner-content ">
                                <h3 class="title">{{timeline_time.title}}</h3>
                                <p class="description ">
                                    {{timeline_time.highlight}}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


{{doc.middle_content}}


{% endblock %}
<!-- ---------------------Section Services Start-------------------------- -->