<section class="contact-section" id="contact-section" style="background-image: url(/files/banner6-2.jpg);">
    <div class="container-fluid">
        <div class="contact-area" id="contact" style="">
            <div class="row pt-50">
                <div class="col-lg-6 col-md-12">
                    <div class="contact container-fluid">
                        <div class="contact-box">

                            <div class="contact-box-form">
                                <div class="contact-form">

                                    <form action="#" method="post">
                                        <input type="text" class="input" name="name" placeholder="Your Name">
                                        <input type="email" class="input" name="email" placeholder="Your Email address">
                                        <input type="text" class="input" name="subject" placeholder="Your Subject">
                                        <textarea name="msg" class="input" id="msg" placeholder="Your Message"
                                            style="padding-top:12px;"></textarea>
                                        <!--<input class="btn" type="submit" id="button" value="Send">-->
                                        <a class="noble-btn t-orange" href="#">
                                            <span>Send</span>
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-content col-lg-6 col-md-12">
                    <div class="section-title">
                        <h2 class="title-underline">More About <span class="t-orange ">Noble</span>
                        </h2>
                    </div>
                    <p class=" nobel-fadeinup"> At Noble, we follow stringent guidelines and processes that assure
                        excellent quality products to the consumers.<br>
                    <p class="nobel-fadeinup"> If you need this contact form to send email to your inbox, you may follow
                        our contact page for more detail Noble Enterprise goes through regular quality assurance and
                        auditing to ensure excellent quality goods are supplied to the Indian Market.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>