{% if not no_breadcrumbs and parents %}
<div class="container-fluid" style="padding-bottom: 0!important;">
	<nav aria-label="breadcrumb" >
        <ol class="breadcrumb t-white" itemscope itemtype="http://schema.org/BreadcrumbList">
			{%- set parents = parents[-3:] %}
			{% for parent in parents %}
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumb-item">
					<a itemprop="item" href="{{ url_prefix }}{{ parent.route | abs_url }}" itemprop="url" >
						<span itemprop="name">{{ parent.title or parent.label or parent.name or "" }}</span>
						<meta itemprop="position" content="{{ loop.index }}" />
					</a>
				</li>
			{% endfor %}
			<li class="breadcrumb-item active t-white" aria-current="page">
				{{ title or "" }}
			</li>
		</ol>
	</nav>
</div>
{% endif %}